<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mc.app.repository.CommentLikeRepository">

    <insert id="insert" parameterType="map">
        INSERT INTO comment_likes (comments_key, cust_id, like_rdate)
        VALUES (#{commentsKey}, #{custId}, NOW())
    </insert>

    <delete id="delete" parameterType="map">
        DELETE FROM comment_likes
        WHERE comments_key = #{commentsKey} AND cust_id = #{custId}
    </delete>

    <delete id="deleteByCommentKey" parameterType="int">
        DELETE FROM comment_likes
        WHERE comments_key = #{commentsKey}
    </delete>

</mapper>
