<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mc.app.repository.CommunityBoardRepository">

    <insert id="insertBoard" parameterType="com.mc.app.dto.CommunityBoard" useGeneratedKeys="true" keyProperty="boardKey">
        INSERT INTO communityboard (
            cust_id, 
            item_key, 
            category, 
            board_title, 
            board_content, 
            board_img, 
            reg_date, 
            update_date, 
            view_count, 
            like_count, 
            comment_count
        ) VALUES (
            #{custId}, 
            #{itemKey}, 
            #{category}, 
            #{boardTitle}, 
            #{boardContent}, 
            #{boardImg}, 
            #{regDate}, 
            #{updateDate}, 
            #{viewCount}, 
            #{likeCount}, 
            #{commentCount}
        )
    </insert>
    
    <update id="updateBoard" parameterType="com.mc.app.dto.CommunityBoard">
        UPDATE communityboard
        SET 
            board_title = #{boardTitle}, 
            board_content = #{boardContent}, 
            category = #{category}, 
            board_img = #{boardImg}, 
            update_date = #{updateDate}
        WHERE board_key = #{boardKey}
    </update>
    
    <delete id="deleteBoard" parameterType="int">
        DELETE FROM communityboard
        WHERE board_key = #{boardKey}
    </delete>
    
    <select id="selectBoardByKey" parameterType="int" resultType="com.mc.app.dto.CommunityBoard">
        SELECT *
        FROM communityboard
        WHERE board_key = #{boardKey}
    </select>
    
    <select id="selectBoardList" resultType="com.mc.app.dto.CommunityBoard">
        SELECT *
        FROM communityboard
        <where>
            <if test="category != null and category != ''">
                category = #{category}
            </if>
        </where>
        <choose>
            <when test="sort == 'views'">
                ORDER BY view_count DESC
            </when>
            <when test="sort == 'likes'">
                ORDER BY like_count DESC
            </when>
            <when test="sort == 'comments'">
                ORDER BY comment_count DESC
            </when>
            <when test="sort == 'oldest'">
                ORDER BY reg_date ASC
            </when>
            <otherwise>
                ORDER BY reg_date DESC
            </otherwise>
        </choose>
        LIMIT #{offset}, #{limit}
    </select>
    
    <select id="searchBoards" resultType="com.mc.app.dto.CommunityBoard">
        SELECT *
        FROM communityboard
        WHERE 
            board_title LIKE CONCAT('%', #{keyword}, '%')
            OR board_content LIKE CONCAT('%', #{keyword}, '%')
        <choose>
            <when test="sort == 'views'">
                ORDER BY view_count DESC
            </when>
            <when test="sort == 'likes'">
                ORDER BY like_count DESC
            </when>
            <when test="sort == 'comments'">
                ORDER BY comment_count DESC
            </when>
            <when test="sort == 'oldest'">
                ORDER BY reg_date ASC
            </when>
            <otherwise>
                ORDER BY reg_date DESC
            </otherwise>
        </choose>
        LIMIT #{offset}, #{limit}
    </select>
    
    <select id="countBoardsByCategory" resultType="int">
        SELECT COUNT(*)
        FROM communityboard
        <where>
            <if test="category != null and category != ''">
                category = #{category}
            </if>
        </where>
    </select>
    
    <select id="countBoardsByKeyword" resultType="int">
        SELECT COUNT(*)
        FROM communityboard
        WHERE 
            board_title LIKE CONCAT('%', #{keyword}, '%')
            OR board_content LIKE CONCAT('%', #{keyword}, '%')
    </select>
    
    <update id="increaseViewCount" parameterType="int">
        UPDATE communityboard
        SET view_count = view_count + 1
        WHERE board_key = #{boardKey}
    </update>
    
    <update id="increaseLikeCount" parameterType="int">
        UPDATE communityboard
        SET like_count = like_count + 1
        WHERE board_key = #{boardKey}
    </update>
    
    <update id="decreaseLikeCount" parameterType="int">
        UPDATE communityboard
        SET like_count = GREATEST(0, like_count - 1)
        WHERE board_key = #{boardKey}
    </update>
    
    <update id="increaseCommentCount" parameterType="int">
        UPDATE communityboard
        SET comment_count = comment_count + 1
        WHERE board_key = #{boardKey}
    </update>
    
    <update id="decreaseCommentCount" parameterType="int">
        UPDATE communityboard
        SET comment_count = GREATEST(0, comment_count - 1)
        WHERE board_key = #{boardKey}
    </update>
    
    <update id="updateCommentCount" parameterType="int">
        UPDATE communityboard cb
        SET comment_count = (
            SELECT COUNT(*)
            FROM comments c
            WHERE c.pboard_key = cb.board_key
        )
        WHERE board_key = #{boardKey}
    </update>
    
    <update id="updateAllCommentCounts">
        UPDATE communityboard cb
        SET comment_count = (
            SELECT COUNT(*)
            FROM comments c
            WHERE c.pboard_key = cb.board_key
        )
    </update>
</mapper>
