<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mc.app.repository.LikeRepository">

    <select id="select" resultType="com.mc.app.dto.Like">
        SELECT * FROM `like`
    </select>

    <select id="selectOne" parameterType="Integer" resultType="com.mc.app.dto.Like">
        SELECT * FROM `like` WHERE like_key = #{likeKey}
    </select>

    <update id="update" parameterType="com.mc.app.dto.Like">
        UPDATE `like`
        SET cust_id = #{custId}, item_key = #{itemKey}
        WHERE like_key = #{likeKey}
    </update>

    <select id="findAllByCustomer" parameterType="String" resultType="com.mc.app.dto.Like">
        SELECT * FROM `like` WHERE cust_id = #{custId}
    </select>

    <select id="findByCustIdAndItemKey" resultType="com.mc.app.dto.Like">
        SELECT * FROM `like`
        WHERE cust_id = #{custId} AND item_key = #{itemKey}
    </select>

    <select id="countByCustId" parameterType="String" resultType="int">
        SELECT COUNT(*) FROM `like`
        WHERE cust_id = #{custId}
    </select>

    <insert id="insert" parameterType="com.mc.app.dto.Like">
        INSERT INTO `like` (
            cust_id, item_key
        ) VALUES (
            #{custId}, #{itemKey}
        )
    </insert>

    <delete id="delete" parameterType="Integer">
        DELETE FROM `like` WHERE like_key = #{likeKey}
    </delete>

    <delete id="deleteByCustAndItem" parameterType="com.mc.app.dto.Like">
        DELETE FROM `like`
        WHERE cust_id = #{custId} AND item_key = #{itemKey}
    </delete>

    <delete id="deleteForMypage" parameterType="map">
        DELETE FROM `like`
        WHERE cust_id = #{custId} AND item_key = #{itemKey}
    </delete>

    <delete id="deleteOlderThan" parameterType="java.util.Date">
        DELETE FROM `like`
        WHERE like_rdate &lt; #{date}
    </delete>
</mapper>
