<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mc.app.repository.QnaBoardRepository">

    <select id="findAllByItem" parameterType="int" resultType="com.mc.app.dto.QnaBoard">
        SELECT * FROM qnaboard WHERE item_key = #{itemKey}
    </select>

    <select id="findAllByCust" parameterType="String" resultType="com.mc.app.dto.QnaBoard">
        SELECT * FROM qnaboard WHERE cust_id = #{custId}
    </select>

    <select id="selectOne" parameterType="int" resultType="com.mc.app.dto.QnaBoard">
        SELECT * FROM qnaboard WHERE board_key = #{boardKey}
    </select>

    <insert id="insert" parameterType="com.mc.app.dto.QnaBoard">
        INSERT INTO qnaboard (
            item_key, order_key, cust_id, board_title, board_rdate,
            board_content, board_img, board_option, board_update, board_re
        ) VALUES (
                     #{itemKey}, #{orderKey}, #{custId}, #{boardTitle}, now(),
                     #{boardContent}, #{boardImg}, #{boardOption}, now(), "답변대기"
                 )
    </insert>

    <update id="update" parameterType="com.mc.app.dto.QnaBoard">
        UPDATE qnaboard SET
                         board_title = #{boardTitle},
                         board_content = #{boardContent},
                         board_img = #{boardImg},
                         board_update = now()
        WHERE board_key = #{boardKey}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM qnaboard WHERE board_key = #{boardKey}
    </delete>

</mapper>
