<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mc.app.repository.QnaBoardRepository">


    <select id="findQnaByItem" parameterType="int" resultType="com.mc.app.dto.QnaBoard">
        SELECT * FROM qnaboard WHERE item_key = #{itemKey} AND board_type = 1
    </select>

    <select id="findReviewByItem" parameterType="int" resultType="com.mc.app.dto.QnaBoard">
        SELECT * FROM qnaboard WHERE item_key = #{itemKey} AND board_type = 2
    </select>

    <select id="findQnaByCust" parameterType="String" resultType="com.mc.app.dto.QnaBoard">
        SELECT * FROM qnaboard WHERE cust_id = #{custId} AND board_type = 1
    </select>

    <select id="findReviewByCust" parameterType="String" resultType="com.mc.app.dto.QnaBoard">
        SELECT * FROM qnaboard WHERE cust_id = #{custId} AND board_type = 2
    </select>

    <select id="selectOne" parameterType="int" resultType="com.mc.app.dto.QnaBoard">
        SELECT * FROM qnaboard WHERE board_key = #{boardKey}
    </select>

    <insert id="insert" parameterType="com.mc.app.dto.QnaBoard">
        INSERT INTO qnaboard (
            item_key, order_key, cust_id, board_type, board_title, board_rdate,
            board_content, board_img, board_option, board_update, board_re, board_score
        ) VALUES (
                     #{itemKey}, #{orderKey}, #{custId}, #{boardType}, #{boardTitle}, now(),
                     #{boardContent}, #{boardImg}, #{boardOption}, now(), #{boardRe}, #{boardScore}
                 )
    </insert>

    <update id="update" parameterType="com.mc.app.dto.QnaBoard">
        UPDATE qnaboard SET
                         board_title = #{boardTitle},
                         board_content = #{boardContent},
                         board_img = #{boardImg},
                         board_update = now(),
                         board_score = #{boardScore}
        WHERE board_key = #{boardKey}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM qnaboard WHERE board_key = #{boardKey}
    </delete>

</mapper>
