<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mc.app.repository.TotalOrderRepository">

    <select id="findAllByCustomer" parameterType="int" resultType="com.mc.app.dto.TotalOrder">
        SELECT * FROM total_order WHERE cust_key = #{custKey}
    </select>

    <select id="findById" parameterType="int" resultType="com.mc.app.dto.TotalOrder">
        SELECT * FROM total_order WHERE order_key = #{orderKey}
    </select>

    <insert id="insert" parameterType="com.mc.app.dto.TotalOrder">
        INSERT INTO total_order (
            cust_key, addr_key, item_key, order_date,
            recipient_name, recipient_phone, order_req, order_status,
            order_card, order_totalprice, order_shootnum
        ) VALUES (
                     #{custKey}, #{addrKey}, #{itemKey}, #{orderDate},
                     #{recipientName}, #{recipientPhone}, #{orderReq}, #{orderStatus},
                     #{orderCard}, #{orderTotalPrice}, #{orderShootNum}
                 )
    </insert>

    <update id="updateStatus">
        UPDATE total_order
        SET order_status = #{orderStatus}
        WHERE order_key = #{orderKey}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM total_order WHERE order_key = #{orderKey}
    </delete>

</mapper>

