<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mc.app.repository.AdminNoticeRepository">

  <insert id="insert" parameterType="com.mc.app.dto.AdminNotice">
    INSERT INTO admin_notice (admin_id, title, content, admin_name)
    VALUES (#{adminId}, #{title}, #{content}, #{adminName})
  </insert>

  <update id="update" parameterType="com.mc.app.dto.AdminNotice">
    UPDATE admin_notice
    SET title = #{title},
        content = #{content},
        admin_name = #{adminName}
    WHERE id = #{id}
  </update>

  <delete id="delete" parameterType="int">
    DELETE FROM admin_notice WHERE id = #{id}
  </delete>

  <select id="select" parameterType="int" resultMap="adminNoticeResultMap">
    SELECT id, admin_id, title, content, created_at, admin_name
    FROM admin_notice
    WHERE id = #{id}
  </select>

  <select id="selectAll" resultMap="adminNoticeResultMap">
    SELECT id, admin_id, title, content, created_at, admin_name
    FROM admin_notice
    ORDER BY created_at DESC
  </select>

  <resultMap id="adminNoticeResultMap" type="com.mc.app.dto.AdminNotice">
    <id property="id" column="id"/>
    <result property="adminId" column="admin_id"/>
    <result property="title" column="title"/>
    <result property="content" column="content"/>
    <result property="createdAt" column="created_at"/>
    <result property="adminName" column="admin_name"/>
  </resultMap>

</mapper>
