<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mc.app.repository.BoardRepository">

    <select id="findAllByItem" parameterType="int" resultType="com.mc.app.dto.Board">
        SELECT * FROM board WHERE item_key = #{itemKey}
    </select>

    <select id="findById" parameterType="int" resultType="com.mc.app.dto.Board">
        SELECT * FROM board WHERE board_key = #{boardKey}
    </select>

    <insert id="insert" parameterType="com.mc.app.dto.Board">
        INSERT INTO board (
            board_key, item_key, cust_key, board_title, board_rdate,
            board_content, board_img, board_option, board_update
        ) VALUES (
                     #{boardKey}, #{itemKey}, #{custKey}, #{boardTitle}, #{boardRdate},
                     #{boardContent}, #{boardImg}, #{boardOption}, #{boardUpdate}
                 )
    </insert>

    <update id="update" parameterType="com.mc.app.dto.Board">
        UPDATE board SET
                         board_title = #{boardTitle},
                         board_content = #{boardContent},
                         board_img = #{boardImg},
                         board_option = #{boardOption},
                         board_update = #{boardUpdate}
        WHERE board_key = #{boardKey}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM board WHERE board_key = #{boardKey}
    </delete>

</mapper>
