<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mc.app.repository.BoardRepository">

    <select id="select" resultType="Board">
        SELECT * FROM board
    </select>

    <select id="selectOne" parameterType="int" resultType="Board">
        SELECT * FROM board WHERE board_key = #{boardKey}
    </select>

    <!--    <select id="findById" parameterType="int" resultType="com.mc.app.dto.Board">-->
    <!--        SELECT * FROM board WHERE board_key = #{boardKey}-->
    <!--    </select>-->

    <insert id="insert" parameterType="Board">
        INSERT INTO board (
            item_key, cust_id, board_title,
            board_content, board_img, board_option
        ) VALUES (
                     #{itemKey}, #{custId}, #{boardTitle},
                     #{boardContent},null, 'N'
                 )
    </insert>

    <update id="update" parameterType="Board">
        UPDATE board SET
                         board_title = #{boardTitle},
                         board_content = #{boardContent},
                         board_img = null,
                         board_option = 'N'
        WHERE board_key = #{boardKey}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM board WHERE board_key = #{boardKey}
    </delete>

</mapper>
