<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mc.app.repository.QnaBoardRepository">
    <select id="select" resultType="QnaBoard">
        SELECT * FROM qnaboard
    </select>

    <select id="findAllByItem" parameterType="int" resultType="com.mc.app.dto.QnaBoard">
        SELECT * FROM qnaboard WHERE item_key = #{itemKey}
    </select>

    <select id="findAllByCust" parameterType="String" resultType="com.mc.app.dto.QnaBoard">
        SELECT * FROM qnaboard WHERE cust_id = #{custId}
    </select>

    <select id="selectOne" parameterType="int" resultType="com.mc.app.dto.QnaBoard">
        SELECT * FROM qnaboard WHERE board_key = #{boardKey}
    </select>

    <insert id="insert" parameterType="com.mc.app.dto.QnaBoard">
        INSERT INTO qnaboard (
            item_key, order_key, cust_id, board_title, board_rdate,
            board_content, board_img, board_option, board_update, board_re
        ) VALUES (
                     #{itemKey}, #{orderKey}, #{custId}, #{boardTitle}, now(),
                     #{boardContent}, #{boardImg}, #{boardOption}, now(), "답변대기"
                 )
    </insert>

    <update id="update" parameterType="com.mc.app.dto.QnaBoard">
        UPDATE qnaboard SET
                         board_title = #{boardTitle},
                         board_content = #{boardContent},
                         board_img = #{boardImg},
                         board_update = now()
        WHERE board_key = #{boardKey}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM qnaboard WHERE board_key = #{boardKey}
    </delete>

    <!-- 상품에 대한 QnA + 관리자 댓글 함께 조회 -->
    <select id="selectQnaWithCommentsByItemKey" parameterType="int" resultType="QnaWithComment">
        SELECT
            q.board_key,
            q.item_key,
            q.cust_id,
            q.board_title,
            q.board_content,
            q.board_rdate,
            q.board_re,
            a.adcomments_key,
            a.adcomments_content,
            a.admin_id,
            a.adcomments_rdate
        FROM qnaboard q
                 LEFT JOIN admin_comments a ON q.board_key = a.board_key
        WHERE q.item_key = #{itemKey} AND q.board_re='답변있음'
        ORDER BY q.board_rdate DESC
    </select>

</mapper>
