<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Animated Placeholder Input</title>
  <link rel="stylesheet" href="input.css">
</head>

<body>

  <div class="input-container">
    <input type="text" id="animatedPlaceholderInput" class="animated-input" autocomplete="off" />
    <div id="placeholderTextContainer" class="placeholder-text-container">
      <p id="currentPlaceholder" class="placeholder-text"></p>
    </div>
  </div>

  <script src="input.js"></script>
</body>

</html>